html, body {
  height: 100%;
  margin: 0;
}
body {
  background: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  text-align: center;
  transform: translateY(-35%);
  font-size: 21px;
}

.foto-perfil {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 2%;
}

.menu {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font {
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.itens {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.item {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.item img {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.item:hover {
  transform:scale(1.05);
}

.top3 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 24px;
}

.poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 2%;
  margin-bottom: 12px;
}

.poster:hover, .album:hover {
  transform: scale(1.05);
}

.album {
  width: 375px;
  height: 375px;
  object-fit: cover;
  border-radius: 2%;
  margin-bottom: 12px;
}

.album:hover {
  transform: scale(1.05);
}

.voltar img {
  scale: calc(50%);
}

.voltar img:hover {
  transform: scale(1.05);
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: -3%;
  font-size: 7px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wow_icon {
  margin-top: -25%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 10%;
}

.wow_icon:hover {
  transform: scale(1.1);
}